
body {
    font-family: Arial, sans-serif;
    background: #525050;
    
    padding: 20px;
    }
    
    
    .container {
    background: rgb(10, 10, 10);
    padding: 40px;
    border-radius: 5px;
    max-width: 800px;

    margin: auto;
    box-shadow: 0 0 10px rgb(240, 240, 240);
    }
    
    
    label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    }
    
    
    input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #8b8996;
    border-radius: 5px;
    }
    
    
    button {
    margin-top: 20px;
    padding: 10px 15px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    
    #climaBox {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    }

div{
    color: #ffffff;
}